doctype html

html.full
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Alone With Bridget
    // Bootstrap core CSS
    link(href='css/bootstrap.css', rel='stylesheet')
    // Custom CSS for the 'Full' Template
    link(href='css/full.css', rel='stylesheet')
  body
    // Page content goes here
    // JavaScript
    script(src='js/jquery-1.10.2.js')
    script(src='js/bootstrap.js')
    script(src='js/pictureflake.js')
    script(src='js/audio.js')
    audio(id="audio", src="audio/allbymyself.mp3", preload="auto")

    each picture, i in pictures
      div(id="pic"+i, class="pictureFlake")
        img(src=picture.url, height="300px", width="300px")



