doctype html

html.full
  // The full page image background will only work if the html has the custom class set to it! Don't delete it!
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Full Page Image Background Template for Bootstrap 3
    // Bootstrap core CSS
    link(href='css/bootstrap.css', rel='stylesheet')
    // Custom CSS for the 'Full' Template
    link(href='css/full.css', rel='stylesheet')
  body
    nav.navbar.navbar-fixed-top.navbar-inverse(role='navigation')
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='index.php') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav
            li
              a(href='#about') About
            li
              a(href='#services') Services
            li
              a(href='#contact') Contact
        // /.navbar-collapse
      // /.container
    // Page content goes here
    // JavaScript
    script(src='js/jquery-1.10.2.js')
    script(src='js/bootstrap.js')
    img(src=url)
